<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EduardoLGamer</title>
    </head>
    <body>
        <%-include("partials/navigation.ejs")-%>
        <h1>Bienvenido a mi pagina web</h1>

    </body>
</html>